<div>
    <div class="layout">
        <!-- Menu Lateral -->
        <aside class="layout__aside">
            <app-sidebar></app-sidebar>
        </aside>
        <aside class="layout__left">
            
            <!-- Menu Horizontal -->
            <aside class="layout__nav">
                <app-header></app-header>
            </aside>

            <!-- Hoja principal -->
            <aside class="layout__dashboard">
                <router-outlet></router-outlet>
            </aside>
        </aside>
    </div>

</div>
