

    <div class="layout">
        
        <!-- Menu Lateral -->
        <aside class="layout__aside">
            <app-sidebar></app-sidebar>
        </aside>

        <div class="layout__content">
            
            <!-- Menu Horizontal -->
            <header class="layout__nav">
                <app-header></app-header>
            </header>

            <!-- Hoja principal -->
            <main class="layout__dashboard">
                <router-outlet></router-outlet>
            </main>
        </div>

    </div>


