
@import url("../../../assets/css/auth.css");


.title__subtitile {
    margin-bottom: 3rem;
}

.login__box {
    min-height: 4.2rem;
    margin-bottom: 3rem;
}

.buttom__loguear {
    min-height: 4.5rem;
}

.option__text {
    margin-bottom: 4rem;
}

.login__google {
    min-height: 4.5rem;
    margin-bottom: 5rem;
}