@import url("../../../assets/css/auth.css");

.menu__title {
    margin-top: 6.5rem;
    margin-bottom: 1rem;
}

.title__subtitile {
    margin-bottom: 1rem;
}

.login__name {
    display: flex;
    flex-direction: row;
}

.login__position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__form,
.login__buttom {
    margin-bottom: 0.8rem;
}

.login__box {
    min-height: 3.8rem;
    margin-bottom: 1.2rem;
}

.login__box-name {
    width: 98%;
}

.buttom__loguear {
    margin-top: 0.8rem;
}

.option__text {
    margin-bottom: 0.8rem;
}

.login__google {
    margin-bottom: 1rem;
}

.invalid-field {
    background-color: var(--color-danger-background-soft) !important;
}

.invalid-field::placeholder {
    color: var(--color-danger) !important;
}

