

<form [formGroup]="muebleForm" (ngSubmit)="onSubmit()" class="mueble-form">

    <div class="mueble-form__campo">
            
        <label for="descripcion" class="mueble-form__label">Descripcion: </label>

        <input type="text" 
            id="descripcion" 
            class="mueble-form__input" 
            formControlName="descripcion"
            autocomplete="off"
            placeholder="Ej. Mesa parota"
            [class.mueble-form__input--invalid]="isInvalid('descripcion')"
            autofocus>
            
        @if (isInvalid('descripcion')) {

            <div class="mueble-form__error">
                <i class="fa-solid fa-circle-exclamation"></i>
                
                <span>
                    @if (f.descripcion.errors?.['required']) { La descripcion es obligatoria }
                    @if (f.descripcion.errors?.['whitespace']) { no puede estar vacio }
                </span>
            </div>
        }

    </div>

    <div class="mueble-form__campo">
    
        
        <label for="precioReferencia" class="mueble-form__label">Precio de referencia </label>
        
        <div class="mueble-form__precio">
            <span class="mueble-form__moneda">$</span>

            <input type="number" 
                id="precioReferencia" 
                class="mueble-form__input mueble-form__input--precio" 
                formControlName="precioReferencia"
                min="1"
                step="0.01"
                placeholder="0.00"
                [class.mueble-form__input--invalid]="isInvalid('precioReferencia')">
        </div>
        

        @if (isInvalid('precioReferencia')) {

            <div class="mueble-form__error">
                <i class="fa-solid fa-circle-exclamation"></i>
                <span>
                    @if (f.precioReferencia.errors?.['required']) { El Precio es obligatorio }
                    @if (f.precioReferencia.errors?.['min']) { El precio tiene que ser mayor de cero }
                </span>
            </div>
        }

    </div>

    <div class="mueble-form__campo">

        <label for="disenoMuebleId" class="mueble-form__label"> Diseño de referencia </label>

        @if (disenoSeleccionado) {

            <div class="mueble-form__diseno">

                <button type="button"
                    class="mueble-form__diseno-seleccionado"
                    [disabled]="guardando"
                    (click)="abrirSelectorDiseno()">

                    <span class="mueble-form__diseno-info">

                        <strong>
                            {{ disenoSeleccionado.nombre }}
                        </strong>

                        <span>
                            {{ disenoSeleccionado.categoria }}
                        </span>

                    </span>

                    <span class="mueble-form__diseno-cambiar">

                        <i class="fa-solid fa-pen"></i>

                        Cambiar

                    </span>

                </button>


                <button type="button"
                    class="mueble-form__quitar-diseno"
                    [disabled]="guardando"
                    aria-label="Quitar diseño"
                    title="Quitar diseño"
                    (click)="quitarDiseno()">

                    <i class="fa-solid fa-xmark"></i>

                </button>

            </div>

        } @else {

            <button type="button"
                class="mueble-form__seleccionar-diseno"
                [disabled]="guardando"
                (click)="abrirSelectorDiseno()">

                <i class="fa-solid fa-images"></i>

                <span>
                    Seleccionar diseño
                </span>

                <i class="fa-solid fa-chevron-right"></i>

            </button>

        }

    </div>

    @if (actualizar) {

        <div class="mueble-form__campo">
            <label for="activo" class="mueble-form__label">Estado</label>

            <select id="activo"
                class="mueble-form__input"
                formControlName="activo">

                <option [ngValue]="true">
                    Activo
                </option>

                <option [ngValue]="false">
                    Inactivo
                </option>

            </select>

        </div>

    }

    <div class="mueble-form__acciones">

        <button type="submit" 
            class="mueble-form__button mueble-form__button--guardar"
            [disabled]="guardando">
                
            @if (guardando) {
                        
                <i class="fa-solid fa-spinner fa-spin"></i>
                
                <span>
                    {{ actualizar ? 'Actualizando...' : 'Guardando...'}}
                </span>
            }@else{
                <i class="fa-solid" [class.fa-flappy-disk]="actualizar" [class.fa-plus]="!actualizar"></i>
                    
                <span>
                    {{ actualizar ? 'Actualizar' : 'Crear Mueble'}}
                </span>
            }
                
        </button>
            
        <button type="button" 
            class="mueble-form__button mueble-form__button--cancelar"
            (click)="cerrarCaja()">

            Cancelar
        </button>
            
    </div>

</form>

<app-modal [visible]="mostrarSelectorDiseno"
    size="lg"
    title="Seleccionar diseño"
    (cerrar)="onSelectorDisenoCerrado()">

    @if (renderSelectorDiseno) {

        <app-seleccionar-diseno-mueble
            (disenoSeleccionado)="seleccionarDiseno($event)"
            (cancelar)="cerrarSelectorDiseno()">
        </app-seleccionar-diseno-mueble>

    }

</app-modal>


