  

<form class="cliente__form"
    [formGroup]="clienteForm"
    (ngSubmit)="onSubmit()">

  <div class="form__dato">

    <label for="inputName" class="form__text">Cliente o Empresa</label>
    <input type="text" id="inputName" class="form__input" formControlName="nombre" autofocus>
      
      @if (isInvalid('nombre')) {
        <p class="form__error">
          @if (f['nombre'].errors?.['required']) { El nombre es obligatorio }
          @if (f['nombre'].errors?.['whitespace']) { no puede estar vacio }
        </p>
      }

  </div>

  <div class="form__dato">

    <label for="inputDireccion" class="form__text">Direccion</label>
    <input type="text" id="inputDireccion" class="form__input" formControlName="direccion">
  
      @if (isInvalid('direccion')) {
        <p class="form__error">
          @if (f['direccion'].errors?.['required']) { La direccion es obligatoria }
          @if (f['direccion'].errors?.['whitespace']) { no puede estar vacio }
        </p>
      }

  </div>
  
  <div class="form__datos">
    <div class="datos__info">
      <label for="inputCorreo" class="form__text">Correo Electronico</label>
      <input type="email" id="inputCorreo" class="form__input" formControlName="correo">

        @if (isInvalid('correo')) {
          <p class="form__error">
            @if (f['correo'].errors?.['required']) { el correo es obligatorio }
            @if (f['correo'].errors?.['email']) { el formato de correo invalido }
          </p>
        }
    </div>

    <div class="datos__info">
      <label for="inputTelefono" class="form__text">Telefono</label>
      <input type="tel" id="inputTelefono" class="form__input" formControlName="telefono">

        @if (isInvalid('telefono')) {
          <p class="form__error">
            @if (f['telefono'].errors?.['required']) { el telefono es obligatorio }
            @if (f['telefono'].errors?.['whitespace']) { no puede estar vacio }
          </p>
        }
    </div>
  </div>

  <div class="form__check">
    <label for="checkbox" class="form__text">Cliente Facturable</label>
    <input type="checkbox" id="checkbox" class="check__box" [checked]="mostrarRFC" (change)="toggleRFC($event)">
  </div>

  @if (mostrarRFC) {
    <div class="form__rfc">
      <label for="inputRFC" class="form__text">RFC</label>
      <input type="text" id="inputRFC" class="form__input" formControlName="rfc">
    </div>
  }

  <div class="form__buttons">
    <button type="submit" class="form__save">{{actualizar ? 'Actualizar' : 'Crear Cliente'}}</button>
    <button type="button" (click)="cerrarCaja()" class="form__cancel">Cancelar</button>
  </div>

</form>

