<section class="nav__menu">
    <nav class="nav__option">
        <ul class="nav__list">
            <li class="nav__list-option nav__list-option--elment1">
                <i class="fa-solid fa-bell list-option__icon"></i>
            </li>
            <li class="nav__list-option nav__list-option--elment2">
                <button class="list-option__button">
                    <span class="button__text">Descargar</span>
                </button>
            </li>
            <li class="nav__list-option nav__list-option--elment3">
                <img src="../../../assets/img/avatar.png" alt="Usuario" class="list-option__avatar">
            </li>
        </ul>
    </nav>
</section>
