<section class="egreso__table">
    
    <div class="table__section">
        <aside class="table__menu">
            <h2 class="menu__title">Menu</h2>
            <button (click)="mostrarCajaCrear()" class="menu__crear">Crear Factura</button>
            <button (click)="mostrarCajaEdit()" class="menu__editar">Editar Factura</button>
            <button (click)="mostrarCajaEliminar()" class="menu__eliminar">Eliminar Factura</button>
        </aside>

        <aside class="table__total">
            <div class="total__title--section">
                <h2 class="title__total">Gasto semanal</h2>
                <i class="total__icon--title fa-solid fa-dollar"></i>
            </div>
            <h1 class="total__semanal">{{ egresoSemanaActual }}</h1>
            <div class="total__datos">
                <p class="total__estimado">Gasto semanal</p>
                <i class="total__icon fa-solid fa-arrow-trend-up"></i>
                <h5 (click)="cajaEstimado()" class="total__estipado--efectivo">{{ estimadoSemanal }}</h5>
            </div>

        </aside>
    </div>
    
    <aside class="table__table">
        <h2 class="table__table--title">Tabla de Facturas Egresos</h2>
        
        <app-tabla [columnas]="columns" [datos]="egresos"></app-tabla>
    
    </aside>

    <!-- Caja formulario -->
    <aside *ngIf="mostrarCajaForm" 
            class="caja__form" 
            [ngClass]="{ 'show': !animacion, 'hide': animacion && !mostrarCajaForm, 'caja__form--edit': cajaEdit, 'caja__form--crear': cajaCrear }">

        <div class="form__header">
            <h2 class="form__title">
                {{ cajaEdit ? 'Modificar Factura Egreso' : 'Nueva Factura Egreso'}}
            </h2>
            <i (click)="cerrarCaja()" class="fa-solid fa-x form__salir"></i>    
        </div>
        

            <app-egreso-crear *ngIf="cajaCrear" (cancelar)="cerrarCaja()"></app-egreso-crear>
            <app-egreso-edit *ngIf="cajaEdit" (cancelar)="cerrarCaja()"></app-egreso-edit>
 
    </aside>
    

    <!-- Caja Eliminar  -->
    <aside *ngIf="mostrarCajaFormEliminar" 
        class="caja__form" 
        [ngClass]="{ 'show': !animacion, 'hide': animacion && !mostrarCajaEliminar, 'caja__form--eliminar': mostrarCajaEliminar, 'caja__form--verificar': mostrarTablaEliminar}">
        <div class="form__header">
            <h2 class="form__title" [ngClass]="{'form__title-verificar':mostrarTablaEliminar}">
                Eliminar Factura Egresos
            </h2>
            <i (click)="cerrarCaja()" class="fa-solid fa-x form__salir"></i>
        </div>

        <app-egreso-eliminar (cancelar)="cerrarCaja()"></app-egreso-eliminar>
       
    </aside>

    <!-- Caja Estimado -->
    <aside *ngIf="mostrarCajaEstimado"
        class="caja__form" 
        [ngClass]="{ 'show': !animacion, 'hide': animacion && !mostrarCajaEstimado }">

        <div class="form__header">
            <h2 class="form__title">
                Gasto Estimado Semanal
            </h2>
            <i (click)="cerrarCaja()" class="fa-solid fa-x form__salir"></i>
        </div>

        <form [formGroup]="estimadoForm" 
            class="actualizar__estimado"
            (submit)="actualizarEstimado()">
            <input type="number" formControlName = "estimado" class="options__input options__input--estimado">
            <button type="submit" class="boton__estimado">Agregar</button>
        </form>

    </aside>

</section>
