/*Definicion Variables*/
:root{
    
    --color-principal: #FFFFFF;
    --color-secundary: #000;
    --color-background-box: #efe8e8fd;
    --color-background-select:#CCE9ED;
    --color-text-select:#00A2FF;
        
}
/*Posicion Relativa es que ese cuadro no dependa de otro*/
/*Posicion absoluta queda a la deriba y puedes manejarla pero depende de la ultima
posicion relativa para posicionarce*/


/*Estilos Generales*/

html{
    font-size: 10px;/*Para medidas de los rem*/
}                   /*62.5% equivale a 10px*/

body{
    width: 100%;
    height: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-background);
    color: var(--color-text);
    /*overflow: hidden;/*ocultamos o quitamos la barra de scroll*/
}

h1, h2, h3, h4, h5, h6{
    color: var(--color-title);
}

/*Imagen de Fondo*/
/*body{
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20 -120px;
}*/

/*Estructura principal*/

.layout{
    position: relative;
    min-width: 400px;
    width: 33%;
    min-height: 100vh;
    float: right;

    background-image:url("../img/fondo3.png");
    
    /*Sombra detras del layout*/
    border-radius: 4rem 0rem 0rem 4rem;
    box-shadow: -10px -10px  50px  rgba(255, 255, 255, 0.5);
}

.layout__menu{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

    min-height: 100%;
    min-width: 30rem;

    
    color: var(--color-secundary);

}

.menu__title{
    margin-top: 9rem;
    margin-bottom: 2rem;
}

.title__text{
    font-size: 3.6rem;
}

.title__subtitile{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.menu__login{
    position: relative;
    align-items: center;
}

.login__form, .login__buttom{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    margin-bottom: 2rem;

}

.login__box{
    position: relative;
    width: 75%;
    height: 4.2rem;
    display: block;
    font-size: 1.5rem;
    padding: 1rem 1.2rem;
    border: none;
    background-color: var(--color-background-box);
    border-radius: 1.5rem;
    outline: none;
    box-shadow: 0 1rem 1rem -8px rgba(0,0,0,0.30);
    line-height: 2.1rem;
    margin-bottom: 3rem;
}

.login__title{
    display: flex;
    align-items: start;
    transition: all 300ms ease-in-out;
}

.login__check{
    display: flex;
    align-items: center;
    width: 75%;
}

.check__box{
    margin-right: 0.2rem;
    border: 0.1rem solid var(--color-secundary);
    box-shadow: 0 1rem 1rem -8px rgba(0,0,0,0.30);
}

.check__title{
    font-size: 1.4rem;
}

.login__forget{
    margin-left: 8rem;
}

.buttom__loguear{
    width: 75%;
    height: 4.5rem;
    border: none;
    border-radius: 2.5rem;
    box-shadow: 0 1rem 1rem -8px rgba(0,0,0,0.30);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.buttom__loguear:hover{
    background-color: var(--color-background-select);
    color: var(--color-text-select);
}

.menu__option{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.option__text{
    font-size: 1.4;
    margin-bottom: 4rem;
}

.option__login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.login__google{
    width: 75%;
    height: 4.5rem;
    margin-bottom: 5rem;
    border: none;
    border-radius: 2.5rem;
    box-shadow: 0 1rem 1rem -8px rgba(0,0,0,0.30);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.login__google:hover{
    background-color: var(--color-background-select);
    color: var(--color-text-select);
}


