<section class="cliente__table">

    <ul class="clientes__cajas">
        
        <li class="caja__cliente">
            <div class="caja__header">
                <i class="caja__icon--trespuntos fa-solid fa-ellipsis-vertical" (click)="abrirCajaTresPuntos('nuevoCliente')"></i>
            </div>
            <div class="caja__icon--carpeta" (click)="abrirCajaCrear()">
                <i class="icon--carpeta__containe fa-solid fa-square-plus"></i>
            </div>
            <p class="caja__nombre">Agregar Nuevo Cliente</p>
        </li>
        
        <li class="caja__cliente" *ngFor="let cliente of clientes; let i = index">
            <div class="caja__header">
                <i class="caja__icon--trespuntos fa-solid fa-ellipsis-vertical" (click)="abrirCajaTresPuntos(i)"></i>
                <ul class="trespuntos__caja" [ngClass]="[getTresPuntosClass(i), animacionTresPuntos[i]]" *ngIf="cajaTresPuntos[i]">
                    <li class="trespuntos__elementos">
                        <h5 class="elementos__title" (click)="actualizarClienteForm(i)">Actualizar</h5>
                    </li>
                    <li class="trespuntos__elementos">
                        <h5 class="elementos__title">Eliminar</h5>
                    </li>
                    <li class="trespuntos__elementos" (click)="cerrarCaja(i)">
                        <h5 class="elementos__title">Cancelar</h5>
                    </li>
                </ul>
            </div>
            <div class="caja__icon--carpeta">
                <i class="icon--carpeta__containe fa-solid fa-folder"></i>
            </div>
            <p class="caja__nombre">{{ cliente.nombre }}</p>
        </li>
    </ul>
</section>

<!----------------------------------------------------------->
<!----------------- Crear Cliente --------------------------->
<!----------------------------------------------------------->


<section class="cliente__crear" [ngClass]="animacionCajaIndividual" *ngIf="cajaCrearCliente">
    <app-crear *ngIf="!cajaActualizarCliente" (cancelar)="cerrarCajaForm()"></app-crear>
    <app-actualizar-cliente *ngIf="cajaActualizarCliente" (cancelar)="cerrarCajaForm()" [idActualizar]="idActualizar"></app-actualizar-cliente>
    
</section>