
<form class="form__options"
              [formGroup] = "egresoForm"
              (ngSubmit)="guardarEgreso()">

            <div class="options__nombre">
                <label for="inputName" class="options__text">Nombre</label>
                <input id="inputName" type="text" class="options__input" formControlName="nombre">
            </div>
            <div class="options__motivo">
                <label for="inputMotivo" class="options__text">Motivo</label>
                <input id="inputMotivo" type="text" class="options__input" formControlName="motivo">
            </div>
            <div class="options__justificacion">
                <label for="inputJustificacion" class="options__text">Justificacion</label>
                <input id="inputJustificacion" type="text" class="options__input" formControlName="justificacion">
            </div>
            <div class="options__monto">
                <label for="inputMonto" class="options__text">Monto</label>
                <input id="inputMonto" type="text" class="options__input" formControlName="monto">
            </div>
            <div class="options__cambio">
                <label for="inputCambio" class="options__text">Cambio</label>
                <input id="inputCambio" type="text" class="options__input" formControlName="cambio">
            </div>
            <div class="options__formaPago">
                <label for="inputFormaPago" class="options__text">Forma de Pago</label>
                <input id="inputFormaPago" type="text" class="options__input"  formControlName="formaPago">
            </div>
            <div class="form__button">
                <button type="submit" class="button__save" [disabled]="egresoForm.invalid">Crear</button>
                <button type="button" (click)="cerrarCaja()" class="button__cancelar">Cancelar</button>
            </div>
</form>

