<section class="aside__menu">
    <!-- Logo -->
    <div class="menu__logo">
        <div class="menu__container-img">
            <img src="../../../assets/img/logo.png" alt="Logo Muebleria" class="menu__img">
        </div>
        <h4 class="menu__title">Mueblerias Kuko</h4>
    </div>

    <!-- Menu de navegacion -->
     <nav class="layout__menu">
        <ul class="menu__list">
            
            <li class="menu__option">
                <h3 class="menu__submenu-title">Inicio</h3>
                <ul class="submenu__list">
                    <li class="submenu__option">
                        <a href="#" class="submenu__link">
                            <i class="submenu__icon fa-solid fa-microchip"></i>
                            <span class="submenu__overlay">DashBoard</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu__option">
                <h3 class="menu__submenu-title">Mantenimientos</h3>
                <ul class="submenu__list">
                    <li class="submenu__option">
                        <a href="#" class="submenu__link">
                            <i class="submenu__icon fa-solid fa-microchip"></i>
                            <span class="submenu__overlay">Usuarios</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu__option">
                <h3 class="menu__submenu-title">Datos</h3>
                <ul class="submenu__list">
                    <li class="submenu__option">
                        <a routerLink="egreso" class="submenu__link">
                            <i class="submenu__icon fa-solid fa-microchip"></i>
                            <span class="submenu__overlay">Egresos</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
     </nav>

     <!-- salir -->
      <div class="menu__buttom">
        <button class="menu__logout">
            <a routerLink="/login" class="logout__link">Log out</a>
        </button>
      </div>
</section>
